body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.logo {
    width: 225px;
    height: auto;
}
.navbar {
    background-color: #26a69a;
  }
header {
    padding: 20px 0;
    background-color: #26a69a;
    color: #fff;
}
header h1 {
    margin: 0;
    font-size: 2rem;
    text-align: center;
}
.page-footer {
    padding: 20px 0;
    padding-top: 90px;
    margin-top: 60px;
    background-color: #26a69a !important;
    color: #fff;
    text-align: center;
}
.social-icons li a {
    color: #fff;
  }
h3 {
    margin-top: 0;
    text-align: center;
}
.input-field label {
    color: #000;
}
.btn {
    background-color: #26a69a;
    color: #fff;
}
.card {
    margin-top: 20px;
}
.card-title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.card-content {
    padding: 1rem;
}
.card-content p {
    margin-bottom: 0.5rem;
}
.item-info {
    font-weight: bold;
}
.select-wrapper {
    margin-bottom: 20px;
}
table {
    margin-top: 20px;
}
table th {
    font-weight: bold;
}